<!DOCTYPE html>
<html>
	<head>
		<title>Flack Chat Login</title>
		<script
  		src="https://code.jquery.com/jquery-3.4.1.min.js"
  		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			crossorigin="anonymous"></script>
		<script src="../static/javascript/login.js"></script>
		<link rel="stylesheet" href="../static/css/reset.css">
		<link rel="stylesheet" href="../static/css/login.css">
		<link rel="shortcut icon" href="../static/images/icon.png">
	</head>
	<body>
		<div class="content">
			<h1>Welcome to Flack Chat</h1>
			<article>
				<img src="../static/images/icon.png" id='icon'>
				<p>Please enter a username to join the chat</p>
				<form id="loginForm" action="/login" method="POST">
					<label for="username">Username</label>
					<input type="text" placeholder="username" name="username" autofocus autocomplete="True" id="username">
					<button type="submit" id="loginButton">Login</button>
				</form>
				<div id="message"></div>
		</div>
		</article>
  </body>
</html>